<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>Edit Scores</h3>

<form novalidate [formGroup]="matchForm1" #fform="ngForm" (ngSubmit)="onSubmit1()">
  Team1 Score
<div>
  <mat-form-field class="full-width">
    <input matInput formControlName="overs"  placeholder="Overs" type="number" >
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput formControlName="runs"  placeholder="Runs" type="number" >
  </mat-form-field> 
  <mat-form-field class="full-width">
    <input matInput formControlName="wickets"  placeholder="Wickets" type="number" >
  </mat-form-field>
</div>
<button type="submit" mat-button class="background-primary text-floral-white" >Update</button>
</form>
<div>
  <br>
</div>
<form novalidate [formGroup]="matchForm2" #fform="ngForm" (ngSubmit)="onSubmit2()">
Team2 Score
<div>
  <mat-form-field class="full-width">
    <input matInput formControlName="overs"  placeholder="Overs" type="number" >
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput formControlName="runs"  placeholder="Runs" type="number" >
  </mat-form-field> 
  <mat-form-field class="full-width">
    <input matInput formControlName="wickets"  placeholder="Wickets" type="number" >
  </mat-form-field>
</div>
<button type="submit" mat-button class="background-primary text-floral-white" >Update</button>
</form>
<br>
<button mat-raised-button (click)="end()" color="primary">End</button>
</div>