.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}
mat-grid-tile {
    background: lightblue;
}  
.tile-image {
width:100%;
height: auto;
}
h1{
    color: rgb(2, 17, 2);
    margin: 20px 10px 0px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}
p{
    color: rgb(51, 5, 253);
    margin: 20px 10px 0px;
    padding: 0px 30px 0px 30px;
    text-align: center;
}
.item-link {
    background-color: rgba(0, 255, 255, 0.644);
    border: 1px solid rgb(0, 0, 0);
    padding: 0;
  }
.but{
    background-color: navy;
}