<app-header></app-header>
<h1>Live Matches</h1>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px" >

  <mat-list fxFlex *ngFor="let match of matches">
    <mat-list-item *ngIf="match.live == true" class="item-link" (click)="gotoScore()" >
      <img matListAvatar src={{match.imagea}} alt={{match.teama}}>
      <h1 matLine> {{match.teama}} vs {{match.teamb}} </h1>
      <p matLine>
        <span> {{match.status}} </span>
      </p>
      <div>
        <img matListAvatar src={{match.imageb}} alt={{match.teamb}}>
      </div>
    </mat-list-item>
  </mat-list>

</div>
<app-footer></app-footer>