<app-header></app-header>
<h1>Live Matches</h1>
<div class="container"
     fxLayout="column"
     fxLayoutGap="10px" >
     <div fxLayoutAlign="end">
       <button mat-button (click)="refresh()" class="but text-floral-white">Refresh</button>
     </div>
  <div *ngIf="li==false">
    <p>No Live matches Now .</p>
  </div>
  <div fxFlex *ngIf="matches" [@visibility]="visibility" [@expand]>
  <mat-list  *ngFor="let match of matches.slice().reverse()" >
    <mat-list-item *ngIf="match.live == true" [routerLink]="['/matchdetail', match.id]" appHighlight class="item-link">
      <img matListAvatar src="{{ BaseURL + match.imagea }}" alt={{match.teama}}>
      <h1 matLine> {{match.teama}} vs {{match.teamb}} </h1>
      <p matLine>
        <span> {{match.status}} </span>
        <br>
        <span> {{match.date | date }} </span>
      </p>
      <div>
        <img matListAvatar src="{{ BaseURL + match.imageb}}" alt={{match.teamb}}>
      </div>
    </mat-list-item>
  </mat-list>
  </div>
  <div [hidden]="matches || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
<app-footer></app-footer>
