<app-header></app-header>
<div class="container"
fxLayout="column"
fxLayoutGap="10px">
<h2>ScoreBoard--></h2>
  <br>
<div fxFlex="75" *ngIf="match" [@visibility]="visibility" [@expand]>

  <mat-list>
    <mat-list-item class="item-link">
      <img matListAvatar src="{{ BaseURL + match.imagea}}" alt={{match.teama}}>
      <h1 matLine> {{match.teama}} vs {{match.teamb}} </h1>
      <p matLine>
        <span> {{match.status}} </span>
      </p>
      <div>
        <img matListAvatar src="{{ BaseURL + match.imageb}}" alt={{match.teamb}}>
      </div>
    </mat-list-item>
  </mat-list>
  <br>
  <div class="item-link">
    <h2>{{match.teama}} Score :</h2>
    <h1> {{ match.aruns }} / {{ match.aovers }} </h1>  
    <h1>Wickets: {{ match.awickets }} </h1>    
  </div>
  <br>
  <div class="item-link">
    <h2>{{match.teamb}} Score :</h2>
    <h1> {{ match.bruns }} / {{ match.bovers }} </h1>  
    <h1>Wickets: {{ match.bwickets }} </h1>    
  </div>
  <br>
  <div class="item-link">
    <p>Match at location {{match.location}} </p>
    <div *ngIf="match.live == true">
      <p>Match is running Live </p>
    </div>
    <div *ngIf="match.live == false">
      <p>Match Completed </p>
    </div>
    <p> {{ match.status }} </p>
  </div>
</div>
<div fxFlex>
</div>
<div fxFlex>
  <p>  </p>
  <button mat-button (click)="refresh()" class="but text-floral-white">Refresh</button>
</div>
<div fxFlex>
</div>
</div>
<app-footer></app-footer>